In [417]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

# дополнительные библиотеки
import calendar as cl
from itertools import combinations

In [418]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1453,tt0396171,50000000,132180323,Perfume: The Story of a Murderer,Ben Whishaw|Simon Chandler|David Calder|Richar...,Tom Tykwer,Based on the best-selling novel,"Jean-Baptiste Grenouille, born in the stench o...",147,Crime|Fantasy|Drama,Davis-Films|Nouvelles Ã‰ditions de Films (NEF)...,9/13/2006,7.0,2006
238,tt2752758,7000000,36433975,Devil's Due,Allison Miller|Zach Gilford|Sam Anderson|Rober...,Matt Bettinelli-Olpin|Tyler Gillett,The Devil Always Gets His Due,An unexpected pregnancy takes a terrifying tur...,89,Horror,Twentieth Century Fox Film Corporation|Davis E...,1/8/2014,4.5,2014
1876,tt0144964,25000000,15843608,Highlander: Endgame,Christopher Lambert|Bruce Payne|Adrian Paul|Do...,Douglas Aarniokoski,It will take two immortals to defeat the ultim...,Immortals Connor and Duncan Macleod join force...,87,Action|Fantasy|Science Fiction,Davis-Panzer Productions|Dimension Films,9/1/2000,4.3,2000
1253,tt1860353,135000000,282570682,Turbo,Ryan Reynolds|Paul Giamatti|Michael PeÃ±a|Samu...,David Soren,SLO NO MO,The tale of an ordinary garden snail who dream...,96,Animation|Family,DreamWorks Animation,7/11/2013,6.1,2013
1412,tt0421054,50000000,22944502,Domino,Keira Knightley|Mickey Rourke|Edgar RamÃ­rez|D...,Tony Scott,Heads You Live... Tails You Die.,"The daughter of actor, Laurence Harvey turns a...",127,Action|Crime,New Line Cinema|Davis-Films|Metropolitan Filme...,9/22/2005,6.1,2005

In [419]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [420]:
answers = {} # создадим словарь для ответов

# колонка profit с прибылью 
data['profit'] = data['revenue'] - data['budget']

# функция, результат которой - отфильтрованный датасет df по значению value сложной колонки column 
def filt_data(df, column, value):
    return df[df[column].str.contains(value, na = False)]

# название месяца из строки вида месяц/день/год
def month(date_str):
    return cl.month_name[int(date_str.split('/')[0])]

# время года из строки вида месяц/день/год
def season(date_str):
    m = int(date_str.split('/')[0])
    if  m>=3 and m<=5:
        result = 'spring'
    elif m>= 6 and m <= 8:
        result = 'summer'
    elif m>=9 and m <= 11:
        result = 'autumn'
    else:
        result = 'winter'
    return result



#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [421]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# +
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [422]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [423]:
# можно добавлять разные варианты решения
data.sort_values(by = 'budget', ascending=False).head(1)['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [424]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
#+
answers['2'] = 'Gods and Generals'

In [425]:
# решение:
data[data.runtime == data.runtime.max()]['original_title'].values[0]

# второй вариант:
data.sort_values(by = 'runtime', ascending=False).head(1)['original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [426]:
#+
answers['3'] = data[data.runtime == data.runtime.min()]['original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [427]:
# +
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [428]:
# +
answers['5'] = round(data.runtime.median())
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [429]:
# +
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit == data.profit.max()]['original_title'].values[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar'}

# 7. Какой фильм самый убыточный?

In [430]:
# +
answers['7'] = data[data.profit == data.profit.min()]['original_title'].values[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger'}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [431]:
# +
answers['8'] = data.query('profit > 0').imdb_id.count()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [432]:
# +
answers['9'] = data[data.release_year == 2008].sort_values(by = 'revenue', ascending=False).head(1)['original_title'].values[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [433]:
# +
answers['10'] = (
                 data.query('release_year >= 2012 & release_year <=2014')
                .sort_values(by = 'profit', ascending = True)
                .head(1)['original_title'].values[0]
                 )
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger'}

# 11. Какого жанра фильмов больше всего?

In [434]:
# +
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data['genres_list'] = data.genres.apply(lambda x: x.split('|'))
data_genres = data.explode('genres_list')

answers['11'] = data_genres.genres_list.value_counts().index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama'}

ВАРИАНТ 2

In [435]:
all_genres = Counter() 

for i in data.genres.values:
    all_genres.update(i.split('|'))

answers['11'] = all_genres.most_common(1)
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)]}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [436]:
# +
answers['12'] = data_genres[data_genres.profit > 0].genres_list.value_counts().index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama'}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [437]:
# +
data['director_list'] = data.director.apply(lambda x: x.split('|'))

data_director = data.explode('director_list')
    
answers['13'] = data_director.groupby('director_list').sum().revenue.sort_values(ascending = False).index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [438]:
# +

answers['14'] = filt_data(data_director, 'genres', 'Action').director_list.value_counts().index[0]                
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [439]:
# +
data['actor_list'] = data.cast.apply(lambda x: x.split('|'))

data_actor = data.explode('actor_list')
    
answers['15'] = (data_actor.query('release_year ==2012').groupby('actor_list').sum()
                 .revenue.sort_values(ascending = False).index[0]
                )
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [440]:
# +

answers['16'] = data_actor[data_actor.budget > data_actor.budget.mean()].actor_list.value_counts().index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [441]:
# +
answers['17'] = filt_data(data_genres, 'cast', 'Nicolas Cage').genres_list.value_counts().index[0]
                
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [442]:
# +
data_paramount = filt_data(data, 'production_companies', 'Paramount Pictures')

answers['18'] = data_paramount[data_paramount.profit == data_paramount.profit.min()].original_title.iloc[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [443]:
# +
answers['19'] = data.groupby(['release_year']).sum().revenue.sort_values(ascending = False).index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [444]:
# +
data_wb = filt_data(data, 'production_companies', 'Warner Bros')

answers['20'] = data_wb.groupby(['release_year']).sum().profit.sort_values(ascending = False).index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [445]:
# +

data['release_month'] = data.release_date.apply(month) # вызываем ранее определенную функцию month

answers['21'] = data.release_month.value_counts().index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [446]:
# +
data['season'] = data.release_date.apply(season) # вызываем ранее определенную функцию season, которая определяет вермя года по дате

answers['22'] = data.season.value_counts()['summer']
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [447]:
# +
data_director['season'] = data['season']

pivot = data_director.pivot_table(values=['imdb_id'],
index=['director_list'],
columns=['season'],
aggfunc='count',
fill_value=0)

answers['23'] = pivot.groupby('director_list').sum()['imdb_id', 'winter'].sort_values(ascending = False).index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [448]:
# +
data['companies'] = data.production_companies.apply(lambda x: x.split('|'))

data_comp = data.explode('companies')
data_comp['title_len'] = data.original_title.apply(len)

answers['24'] = data_comp.groupby('companies').mean().title_len.sort_values(ascending = False).index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [449]:
# +

data_comp['words_count'] = data_comp.overview.apply(lambda x: len(x.split()))

answers['25'] = data_comp.groupby('companies').mean().words_count.sort_values(ascending = False).index[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [450]:
# +

q = data.quantile(q = 0.99)['vote_average']
best = data[data.vote_average > q]['original_title']

a1 = 'Inside Out,The Dark Knight,12 Years a Slave'.split(',')
a2 = 'BloodRayne,The Adventures of Rocky & Bullwinkle'.split(',')
a3 = 'Batman Begins,The Lord of the Rings: The Return of the King,Upside Down'.split(',')
a4 = '300,Lucky Number Slevin,Kill Bill: Vol. 1'.split(',')
a5 = 'Upside Down,Inside Out,Iron Man'.split(',')

ans = [a1, a2, a3, a4, a5]
right = []

for i in ans:   
    for j in i:        
        if not (j in best.values):
            break
    else:
        right.append(i)

answers['26'] = right[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave']}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [451]:
# +
# решение 27 вопроса:

all_pairs = Counter()

for i in data.cast.values:
    all_pairs.update(combinations(i.split('|'), 2))

answers['27'] = all_pairs.most_common(1)
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8)]}

In [452]:
# и убедиться что ни чего не пропустил)
len(answers)

27